<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
<div class="container mt-5 mb-5">
    <h1>Registration</h1>
    <h4 th:if="${warning}" th:text="${warning}" ></h4>
    <form action="/auth/registration" method="post">
        <input type="text" name="firstname" placeholder="Enter your First Name" class="form-control">
        <br>
        <input type="text" name="lastname" placeholder="Enter your Last Name" class="form-control">
        <br>
        <input type="text" name="password" placeholder="Enter your password" class="form-control">
        <br>
        <input type="text" name="email" placeholder="Enter your email" class="form-control">
        <br>
        <button type="submit" class="btn btn-success">confirm registration</button>
    </form>
</div>
</body>
</html>