<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5 mb-5">
    <h1>Registration</h1>
    <form action="/users/registration" method="post">
        <input type="text" name="First Name" placeholder="Enter your First Name" class="form-control">
        <br>
        <input type="text" name="Last Name" placeholder="Enter your Last Name" class="form-control">
        <br>
        <input type="text" name="password" placeholder="Enter your password" class="form-control">
        <br>
        <input type="text" name="Email" placeholder="Enter your email" class="form-control">
        <br>
        <button type="submit" class="btn btn-success">confirm registration</button>
    </form>
</div>
</body>
</html>