<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Notebook users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between fixed-top">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="navbar-brand">NOTEBOOK</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" href="/notebook/notes">TO NOTES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" href="/auth/registration">CREATE NEW USER</a>
        </li>
    </ul>
    <div class="row justify-content-end">
        <form action="/auth/logout" method="post" >
            <button type="submit" class="btn btn-md btn-danger">Logout</button>
        </form>>
    </div>
</nav>
<br>
<br>


<div class="container mt-5">
    <h1>All users</h1>
    <div th:each="element : ${users}" class="alert alert-info mt-2">
        <hr>
        <label for="id">Id:</label>
        <h4 th:text="${element.getId()}" id="id" style="display:inline"></h4>
        <br>
        <label for="fname">First Name:</label>
        <h4 th:text="${element.getFirstname()}" id="fname" style="display:inline"></h4>
        <br>
        <label for="role">Role:</label>
        <h4 th:text="${element.getRole()}" id="role" style="display:inline"></h4>
        <br>
        <label for="status">Status:</label>
        <h4 th:text="${element.getStatus()}" id="status" style="display:inline"></h4>
        <br>
        <a th:href="'/users/' + ${element.getId()} + '/edit'" class="btn btn-success mr-4">edit</a>
        <form th:action="'/users/' + ${element.getId()} + '/remove'" th:method="post" class="d-inline">
            <button class="btn btn-sm btn-danger" type="submit">remove</button>
        </form>
        <hr>
    </div>
</div>


</body>
</html>