<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create new note</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
    <div class="container mt-5 mb-5">
        <h1>Add note</h1>
        <form th:action="@{/notebook/add}" th:method="post" th:object="${entry}">
            <input type="text" name="title" th:field="*{title}" placeholder="Enter title" class="form-control"/>
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger">Title Error</div>
            <br>
            <textarea name="content" th:field="*{content}" placeholder="Enter content" class="form-control"></textarea>
            <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger">Content Error</div>
            <br>
            <button type="submit" class="btn btn-success">Add note</button>
        </form>
        <br>
        <a href="/notebook/notes" class="btn btn-success" >Back to my notes</a>
    </div>
</body>
</html>
